@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    overflow: hidden;
}

/*pantalla de inicio*/
#start {
    text-align: center;
    margin-top: 35vh;
}
#mensaje {
    animation: parpadeo 0.5s infinite alternate; 
  }

  @keyframes parpadeo {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
#game {
    display: none;
}
/****************/

/*elementos del juego*/
.player {
    position: absolute;
    background-image: url("../img/player.png");
    width: 70px;
    height: 75px;

}

.enemy {
    position: absolute;
    background-image: url("../img/enemy.png");
    width: 70px;
    height: 75px;
}

.missile {
    position: absolute;
    background-color: rgb(6, 83, 6);
    width: 5px;
    height: 10px;
}


#score {
    font-size: 50px;
    background-color: blanchedalmond;
    width: fit-content;
    padding: 0 10px;
    text-align: right;
}

#life {
    width: fit-content;
    text-align: right;
    position: absolute;
    bottom: 0;
}

.life-image {
    background-image: url("../img/life.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
}
/************************/


/*FONDO*/
#ocean {
    background-image: url("../img/ocean.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    height: 100vh;
    animation: moveOcean 20s linear infinite;
}

/*animacion del fondo*/
@keyframes moveOcean {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 50%;
    }

    100% {
        background-position: 0 100%;
    }
}